<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>safeloan</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.core.controllers.SafeloanApplication</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.config.server.provider.packages</param-name>
            <param-value>com.core.controllers;com.sun.jersey.json.impl.provider.entity;</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.core.controllers;com.sun.jersey.json.impl.provider.entity;</param-value>
        </init-param>


        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>safeloan</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
